@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Ubuntu&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

header{
    width: 100%;
    display: flex;
    background-color: #201203;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    padding: 1.5rem 0;
    z-index: 1;
}
header img{
    width: 1.5rem;
    height: 1.5rem;
}
nav{
    display: flex;
    justify-content: space-between;
}
nav li{
    display: inline-block;
}
nav a{
    color: #D4C5B9;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    margin-left: 1.5rem;
    border-radius: 0.5rem;
    transition: color .3s ease;
}
nav a:hover{
    padding: .1rem 0;
    border-bottom: 0.15rem solid #9A5328;
    border-radius: 10%;
}
.navbar.sticky{
    background-color: #201203;
    padding: 1.2rem 0;
}

#logo{
    cursor: pointer;
}

#menu-btn{
    display: none;
}
.scroll-up-btn{
    position: fixed;
    width: 2rem;
    height: 2rem;
    right: 1rem;
    bottom: 0.6rem;
    text-align: center;
    line-height: 3.1rem;
    border-radius: 40%;
    font-size: 1.8rem;
    z-index: 9999;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all .3s ease;
}
.scroll-up-btn ion-icon{
    color: #D4C5B9;
    background-color: #9A5328; 
    width: 100%;
    height: 100%;
    border-radius: 40%;
}
.scroll-up-btn.show{
    opacity: 1;
    pointer-events: auto;
    bottom: 2rem;
}

footer{
    background-color: #201203;
    padding: .5rem;
}
footer p{
    color: #D4C5B9;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}
footer p a{
    text-decoration: none;
    color: #9A5328;
    font-family: 'Dancing Script', cursive;
    cursor: pointer;
}
footer p a:hover{
    border-bottom: #9A5328 solid 0.1rem;
}

@media (max-width:947px){
    #menu-btn{
        display: flex;
        color: #9A5328;
        background: none;
        border: none;
        padding: .5rem 1rem;
        font-size: 1rem;
        gap: .5rem;
        cursor: pointer;
    }
    #hamburger{
        width: 1.2rem;
        border-top: 0.125rem solid;
    }
    #hamburger::after, #hamburger::before{
        content: '';
        display: block;
        width: 1.2rem;
        height: 0.125rem;
        margin-top: 0.3rem;
        background: currentColor;
        transition: .3s;
        position: relative;
    }
    #nav-menu.active #hamburger{
        border-top-color: transparent;
    }
    #nav-menu.active #hamburger::before{
        transform: rotate(135deg);
    }
    #nav-menu.active #hamburger::after{
        transform: rotate(-135deg);
        top: -7px;
    }
    #menu{
        display: block;
        position: absolute;
        width: 100%;
        left: 0;
        top: 4.375rem;
        background: #9A5328;
        text-align: center;
        z-index: 1000;
        transition: 0.6s;
        height: 0px;
        visibility: hidden;
        overflow-y: hidden;
    }
    #nav-menu.active #menu{
        visibility: visible;
        overflow-y: auto;
        height: calc(100vh - 1.2rem);
    }
    #nav-menu #menu li{
        display: block;
    }
    #nav-menu #menu li a{
        display: inline-block;
        margin: 1.2rem 0;
        font-size: 1rem;
    }
    #nav-menu.active #menu li a:hover{
        border-bottom: 0.15rem #201203 solid;
    }
}