@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Ubuntu&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

section{
    height: 100vh;
    width: 100%;
}

.landing-page{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #201203;
}
.landing-page .landing-title h1{
    font-family: 'Ubuntu', sans-serif;
    color: #D4C5B9;
    font-size: 7rem;
}
.landing-page .landing-title h1 span{
    font-family: 'Dancing Script', cursive;
    color: #9A5328;
    font-size: 9rem;
}
.landing-page .landing-title p{
    font-family: 'Ubuntu', sans-serif;
    color: #D4C5B9;
    font-size: 1.1rem;
}
.landing-page .coffeeCup{
    background-color: #9A5328;
    padding: 2rem;
    border-radius: 60% 20% 60% 20%;
}
.landing-page .coffeeCup img{
    width: 20rem;
    height: 20rem;
}

.about{
    background-color: #9A5328;
    display: flex;
    align-items: center;
}
.about-title{
    padding: 1rem;
    width: 30%;
    border-right: #201203 solid 0.1rem;
}
.about-title h1{
    font-family: 'Dancing Script', cursive;
    color: #201203;
    font-size: 4rem;
    text-align: center;
}
.about-content{
    padding: 1rem;
    width: 70%;
}
.about-content p{
    font-family: 'Ubuntu', sans-serif;
    color: #D4C5B9;
    font-size: 1rem;
    text-align: justify;
}

.contact{
    background-color: #D4C5B9;
    display: flex;
    justify-content: center;
    align-items: center;
}
.max-contact{
    width: 100%;
}
.contact-title{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
}
.contact-title h1{
    font-family: 'Dancing Script', cursive;
    color: #9A5328;
    font-size: 4rem;
}
.contact-content{
    display: flex;
    margin: 0 10rem;
    padding: 2rem;
    justify-content: space-around;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.5);
    background: rgba(255, 255, 255, 0.2);
}
.contact .person{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 5rem;
}
.picture img{
    border-radius: 10rem;
    max-width: 6rem;
}
.picture p{
    font-family: 'Ubuntu', sans-serif;
    color: #201203;
    font-size: 1rem;
    text-align: center;
}
.social-media img{
    max-width: 2rem;
    cursor: pointer;
}