@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Ubuntu&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

section{
    width: 100%;
}

.landing-page{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #201203;
}
.landing-page .landing-title h1{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    color: #D4C5B9;
    font-size: 7rem;
}
.landing-page .landing-title h1 span{
    font-family: 'Dancing Script', cursive;
    font-weight: 500;
    color: #9A5328;
    font-size: 9rem;
}
.landing-page .landing-title p{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    color: #D4C5B9;
    font-size: 1.1rem;
}
.landing-page .coffeeCup{
    background-color: #9A5328;
    padding: 2rem;
    border-radius: 60% 20% 60% 20%;
}
.landing-page .coffeeCup img{
    width: 20rem;
    height: 20rem;
}

.contact .max-contact .contact-content{
    background-color: #9A5328;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.about{
    background-color: #9A5328;
    width: 100%;
}
.about-title{
    width: 100%;
}
.about-title h1{
    font-family: 'Dancing Script', cursive;
    font-weight: 500;
    color: #201203;
    font-size: 4rem;
    text-align: center;
}
.about-content{
    padding: 1rem;
    width: 100%;
}
.about-content p{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    color: #D4C5B9;
    font-size: 1rem;
    text-align: justify;
}

.about, .contact{
    padding: 3rem 6rem;
}

.contact{
    background-color: #D4C5B9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}
.max-contact{
    width: 100%;
    height: auto;
}
.contact-title{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
}
.contact-title h1{
    font-family: 'Dancing Script', cursive;
    font-weight: 500;
    color: #9A5328;
    font-size: 4rem;
}
.contact-content{
    display: flex;
    padding: 1rem;
    gap: 50px;
    flex-wrap: wrap;
    width: auto;
    justify-content: center;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.5);
    background: rgba(255, 255, 255, 0.2);
    height: auto;
}
.contact .contact-content .person{
    width: calc(16% - 10px);
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
}
.picture img{
    border-radius: 10rem;
    max-width: 6rem;
}
.picture p{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    color: #201203;
    font-size: 1rem;
    text-align: center;
}
.social-media{
    display: flex;
    flex-direction: row;
    padding: .5rem;
}
.social-media img{
    max-width: 2rem;
    cursor: pointer;
}

@media (max-width:1160px){
    .landing-page .landing-title h1{
        font-size: 5rem;
    }
    .landing-page .landing-title h1 span{
        font-size: 7rem;
    }
    .landing-page .landing-title p{
        font-size: 1rem;
    }
    .landing-page .coffeeCup{
        padding: 2rem;
        border-radius: 60% 20% 60% 20%;
    }
    .landing-page .coffeeCup img{
        width: 15rem;
        height: 15rem;
    }
}

@media (max-width:1050px){
    .landing-page .coffeeCup img{
        display: none;
    }
    .landing-page .coffeeCup{
        padding: 0;
        border-radius: none;
    }
}

@media (max-width:1050px){
    .contact .contact-content .person{
        width: calc(25% - 10px);
    }
}

@media (max-width:850px){
    .contact .contact-content .person{
        width: calc(33% - 10px);
    }
    .landing-page{
        padding: 0 6rem;
    }
}

@media (max-width:580px){
    .contact .contact-content .person{
        width: calc(50% - 10px);
    }
    .about, .contact{
        padding: 1rem 3rem;
    }
    .landing-page .landing-title h1{
        font-size: 3rem;
    }
    .landing-page .landing-title h1 span{
        font-size: 5rem;
    }
    .landing-page .landing-title p{
        font-size: 1rem;
    }
}

@media (max-width:500px){
    .contact .contact-content .person{
        width: calc(100% - 10px);
    }
    .landing-page{
        padding: 0 3rem;
    }
    
    .landing-page .landing-title h1{
        font-size: 2rem;
    }
    .landing-page .landing-title h1 span{
        font-size: 3rem;
    }
    .landing-page .landing-title p{
        font-size: .9rem;
    }
    .about-title h1, .contact-title h1{
        font-size: 3rem;
    }
    .about-content p, .contact-title p{
        font-size: .9rem;
    }
}